.link-name {
  display: block;
  color: white;
  text-decoration: none;
  width: 100%;
}
.link-name:hover {
  color: gold;
}
.activeLink {
  color: yellow;
}

.arrow {
  color: white;
}
.icon {
  padding-right: 5px;
  transform: translateY(4px);
}
span {

}
.hidden{
  opacity:0;
  visibility:0;
  display: none;
}