@import-normalize;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  /* background: #e5e5e5; */
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
* {
  box-sizing: border-box;
}
input {
  padding: 0;
  margin: 0;
  border: 0;
  border: none;
}
p {
  padding: 0;
  margin: 0;
}
.message-login {
  max-width: 1050px;
  width: 100%;
  position: absolute;
  bottom: -70px;
}
.other_button {
  width: 100%;
  padding: 10px 0;
}

.send-message__button {
  margin-top: 10px;
}
.link {
  text-decoration: none;
}
